.app-layout {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: #FBFBFB;
  }
  
  .main-content {
    margin-left: 18rem; 
    display: grid;
    flex: 1;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.5rem; 

    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow-y: auto;
  }
  
  @media (min-width: 768px) {
    .main-content {
      gap: 2rem; 
      margin-top: 6.5rem; 
      padding-left: 2.5rem; 
      padding-right: 2.5rem;
    }
  }
  
  @media (max-width: 1024px) {
    .main-content {
      margin-left: 0;
    }
  }
  