.user-summary {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .title {
      font-family: 'worksans', sans-serif;       font-weight: medium;       color: #213F7D;       font-size: 1.5rem;     }
  
    .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);       gap: 1.5rem;   
      @media (min-width: 640px) {         grid-template-columns: repeat(2, 1fr);
      }
  
      @media (min-width: 1024px) {         grid-template-columns: repeat(4, 1fr);
      }
    }
  
    .card {
      display: flex;
      flex-direction: column;
      gap: 1rem;       background-color: white;       border: 1px solid rgba(33, 63, 125, 0.06);       box-shadow: var(--shadow-userDataShadow);       border-radius: 0.375rem;       padding: 1.5rem 2rem;   
      .icon {
              }
  
      .text-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;   
        .label {
          color: #545F7D;           font-family: 'worksans', sans-serif;           font-weight: medium;           font-size: 0.875rem;           text-transform: uppercase;         }
  
        .value {
          font-size: 1.5rem;           color: #213F7D;           font-weight: bold;         }
      }
    }
  }
  